<h1>Hey, <%= @user.username %>!</h1>
<p>Just thought you would want to know that <%= @user2.username %> has decided to follow you. </p>
<p>They have been added to you list of followers and you can now find them in your followers page on your timeline.</p>
<p>Sincerely,</p>
<p>The Chirp Team</p>
