<h1>Thanks for signing up for Chirp, <%= @user.username %>!</h1>
<p>We're trying to become a rival to Twitter and your support is helping us along the way to achieving our goal.</p>
<p>If there is anything we can do to improve your experience with Chirp, please don't hesitate to let us know.</p>
<p>We hope you enjoy your time with Chirp, we look forward to improving your experience in the future.</p>
<p>Sincerely,</p>
<p>The Entire Chirp Team!</p>
